:root {
   --rmtp-text-light: #333;
   --rmtp-bg-light: #eee;
   --rmtp-clock-bg-light: #fff;
   --rmtp-clock-border-light: #ccc;
   --rmtp-clock-hands-light: #666;
   --rmtp-buttons-light: #333;

   --rmtp-text-dark: #eee;
   --rmtp-bg-dark: #333;
   --rmtp-clock-bg-dark: #111;
   --rmtp-clock-border-dark: #555;
   --rmtp-clock-hands-dark: #eee;
   --rmtp-buttons-dark: #fff;
}